<!-- START SECTION BREADCRUMB -->
<div class="breadcrumb_section bg_gray page-title-mini">
    <div class="container"><!-- STRART CONTAINER -->
        <div class="row align-items-center">
        	<div class="col-md-6">
                <div class="page-title">
            		<h1>Store Of Product</h1>
                </div>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb justify-content-md-end">
                    <li class="breadcrumb-item"><a [routerLink]="['/home']"  >Home</a></li>
                    <li class="breadcrumb-item active">store</li>
                </ol>
            </div>
        </div>
    </div><!-- END CONTAINER-->
</div>
<!-- END SECTION BREADCRUMB -->

<!-- START MAIN CONTENT -->
<div class="main_content">

<!-- START SECTION SHOP -->
<div class="section">
	<div class="container">
    	<div class="row">
			<div class="col-lg-9">
            	<div class="row">
                    <div class="col-md-10 mx-auto my-5">
                        <label class="my-2" for="search">Search by product name:</label>
                        
                        <input [(ngModel)]="term" type="text"class="form-control">
                    
                    </div>
                </div> 
                <div class="row  list">
                    <div *ngFor="let product of products | search:term | paginate
                    : {
                        itemsPerPage: 6,
                        currentPage: pagination,
                        totalItems: allProducts
                      }" class="col-md-4 col-6">
                        <div class="product">
                            <div class="product_img">
                                <a [routerLink]="['/product-details',product.id]">
                                    <img  class="product-img" [src]="product.product_img" alt="product_img4">
                                </a>
                                <div class="product_action_box">
                                    <ul class="list_none pr_action_btn">
                                        <br>
                                        <li class="add-to-cart"><a (click)="addToCart(product.id)"><i class="icon-basket-loaded"></i> Add To Cart</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product_info">
                                <h6 class="product_title"><a [routerLink]="['/product-details',product.id]">{{product.name}}</a></h6>
                                <div class="product_price">
                                    <span class="price">{{product.new_price|currency}}</span>
                                    <del>{{product.old_price|currency}}</del>
                                    <div *ngIf="product.discount_percent >0" class="on_sale">
                                        <span>{{product.discount_percent}}% Off</span>
                                    </div>
                                </div>
                                <div class="rating_wrap"*ngIf="product.max_rate >0">
                                    <div class="rating">
                                        <div class="product_rate" style="width:{{product.max_rate*20}}%"></div>
                                    </div>
                                    <span class="rating_num">({{product.count_reviews}})</span>
                                </div>
                              
                                
                                <div class="list_product_action_box">
                                    <ul class="list_none pr_action_btn">
                                        
                                        <li class="add-to-cart ms-2"><a (click)="addToCart(product.id)"><i class="icon-basket-loaded"></i> Add To Cart</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                 
                    
                    
                </div>
                <div class="d-flex justify-content-center">
                    <pagination-controls
                      (pageChange)="renderPage($event)"
                    ></pagination-controls>
                  </div>
        		<div class="row">
                    <div class="col-12">
                       
                        <!-- <ul class="pagination mt-3 justify-content-center pagination_style1">
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#"><i class="linearicons-arrow-right"></i></a></li>
                        </ul> -->
                    </div>
                </div>
        	</div>
            <div class="col-lg-3 order-lg-first mt-4 pt-2 mt-lg-0 pt-lg-0">
            	<div class="sidebar">
                	<div class="widget">
                        <h5 class="widget_title">Categories</h5>
                        <ul class="widget_categories">
                            <li>
                                <a (click)="getProductsByCategoryId(0)"><span class="categories_name">All</span></a>

                            </li>

                            <li *ngFor="let category of categories">
                                <a (click)="getProductsByCategoryId(category.id)"><span class="categories_name">{{category.name}}</span></a>
                            </li>
                      
                        </ul>
                    </div>
                 
                  
                 
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END SECTION SHOP -->



</div>
<!-- END MAIN CONTENT -->