


.product-img
{
    width: 50% ;
    height: 60%;
    align-items: center !important;
    margin: 0 auto !important;

}


.add-to-cart:hover
{

background-color: black !important;
color: white !important;
border-radius: 5px;
border: none !important;
border-color: transparent !important;



}