
<!-- START SECTION BREADCRUMB -->
<div class="breadcrumb_section bg_gray page-title-mini">
    <div class="container"><!-- STRART CONTAINER -->
        <div class="row align-items-center">
        	<div class="col-md-6">
                <div class="page-title">
            		<h1>Login</h1>
                </div>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb justify-content-md-end">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item active">Login</li>
                </ol>
            </div>
        </div>
    </div><!-- END CONTAINER-->
</div>
<!-- END SECTION BREADCRUMB -->

<!-- START MAIN CONTENT -->
<div class="main_content">

<!-- START LOGIN SECTION -->
<div class="login_register_wrap section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-md-10">
                <div class="login_wrap">
            		<div class="padding_eight_all bg-white">
                        <div class="heading_s1">
                            <h3>Login</h3>
                        </div>
                        <form [formGroup]="loginForm" (ngSubmit)="saveData()">
                            <div class="form-group mb-3">
                                <input  [ngClass]="{'is-valid':loginForm.controls['email'].status=='VALID','is-invalid':loginForm.controls['email'].status=='INVALID'&&loginForm.controls['email'].touched}" type="email" formControlName="email" class="form-control" name="email" placeholder="Your Email">
                                <span *ngIf="loginForm.controls.email.errors && loginForm.get('email')?.touched" class="text-danger">email is required </span>

                            </div>
                            <div class="form-group mb-3">
                                <input [ngClass]="{'is-valid':loginForm.controls['password'].status=='VALID','is-invalid':loginForm.controls['password'].status=='INVALID'&&loginForm.controls['password'].touched}" class="form-control" formControlName="password" type="password" name="password" placeholder="Password">
                                <span *ngIf="loginForm.controls.password.errors && loginForm.get('password')?.touched" class="text-danger">password is required </span>

                            </div>
                            <div class="login_footer form-group mb-3">
                                <div class="chek-form">
                                    <div class="custome-checkbox">
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox1" value="">
                                        <label class="form-check-label" for="exampleCheckbox1"><span>Remember me</span></label>
                                    </div>
                                </div>
                                <a href="#">Forgot password?</a>
                            </div>
                            <div class="form-group mb-3">
                                <button  type="submit" class="btn btn-danger btn-block" name="login">
                                    <span *ngIf="!isLogged">Log in</span>
                                    <div *ngIf="isLogged" class="spinner-border text-light" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </button>
                               
                            </div>
                        </form>
                        <div class="different_login">
                            <span> or</span>
                        </div>
                        <ul class="btn-login list_none text-center">
                            <li>
                                <!-- <asl-google-signin-button type='standard' size='medium'></asl-google-signin-button> -->

                            </li>
                        </ul>
                        <div class="form-note text-center">Don't Have an Account? <a routerLink="/auth/register">Sign up now</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- END LOGIN SECTION -->



</div>
<!-- END MAIN CONTENT -->