<owl-carousel-o [options]="bannerOptions" >
                  
    <ng-container *ngFor="let banner of banners">
      <ng-template  carouselSlide [id]="banner.id" >
     
        <div class="banner_section slide_medium shop_banner_slider staggered-animation-wrap">
            <div id="carouselExampleControls" class="carousel slide carousel-fade light_arrow" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <!-- <div class="overlay-banner"></div> -->
                    <div  class="carousel-item active background_bg" >
                        <img [src]="banner.img_banner" class="d-block w-100 custom-carousel-img img-banner" alt="...">
        
                        <div class="banner_slide_content">
                            <div class="container"><!-- STRART CONTAINER -->
                                <div class="row">
                                    <div class="col-lg-7 col-9">
                                        <div class="banner_content overflow-hidden">
                                            <h5  class="mb-3 staggered-animation font-weight-light banner-desc" data-animation="slideInLeft" data-animation-delay="0.5s">{{banner.offer}}</h5>
                                            <h2 class="staggered-animation banner-desc" data-animation="slideInLeft" data-animation-delay="1s">{{banner.title}}</h2>
                                            <a class="btn btn-fill-out rounded-0 staggered-animation text-uppercase shop-now-hero banner-desc" [routerLink]="['/store']" routerLinkActive="router-link-active"  data-animation="slideInLeft" data-animation-delay="1.5s">Shop Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- END CONTAINER-->
                        </div>
                    </div>
                   
                    
                </div>
                <!-- <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev"><i class="ion-chevron-left"></i></a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next"><i class="ion-chevron-right"></i></a> -->
            </div>
        </div>
       
    
    </ng-template>
    </ng-container>

  </owl-carousel-o>












